/*****************************************************************************************************************
 ** IE6, IE7, IE8 workarounds using \9 for all three, or * or # below IE8
 ** http://paulirish.com/2009/browser-specific-css-hacks/ 
 ** or by this conditional stylesheet, last modified 2011-11-11
 ** 
 ** This file was used earlier by index.tpl, but stays here to give a summary of all used conditional styles.
 ****************************************************************************************************************/
#wrapper {
    /* IE7 needs a position on top (and bottom, which does not work yet) */
    *top: 12px; /* IE6, IE7 - can be * or # */
}
/*****************************************************************
 ** gradients in IE 7-8
 ** for the linear-gradient and border-radius problem, 
 *****************************************************************/
#header {
    border-radius: 1em 1em 0 0; 
}
#footer {
    border-radius: 0 0 1em 1em;
}
#sitenav-extended ul li, 
#header, #footer { 
    /** PIE produces unwanted behaviour here in IE7 & IE8, while having roundet corners build by #wrapper **/
    /** IE filter and round corners do not properly work in IE7 and even IE8, this is why we have to workaround IE7 
        and IE8 behaviour - see conditional style ie_hacks.css for lt IE 9 **/
    /** do not use filter, while having PIE gradients - we have to reset filter, which is used and needed only by IE9 **/
    filter: filter;
    -pie-background: linear-gradient(rgb(220,220,220), rgb(255,255,255));
    position: relative; /* PIE specific */
    behavior: url("/PIE.htc"); /* found best in root */
}
/********************************************************************
 * extended navigation bar and searchform in header
 * IE7 troubles here with floating elements / without position fixed 
 * and breaks our one line rule.
 * Solution: we just float the searchform onto the navigation
 ********************************************************************/
#sitenav-extended #searchform input {
    *float: none;
}
#sitenav-extended #searchform {
    *float: none;
    *margin: 0 0 0 20px;
}
/********************************************************************
 * default & extended & simple navigation bars 
 * corrects gradients in IE 7-8 overlapping border-radius problem
 * and some positioning
 ********************************************************************/
.snabove#nav, 
.snabove#sitenav, 
.snabove#sitenav-extended { 
    border-radius: 1em 1em 0 0; 
    position: relative; /* PIE specific */
    behavior: url("/PIE.htc"); /* found best in root */
}
.snabove#sitenav-extended ul { 
    padding-left: 10px;
    margin: 0;
}
.snabove#nav #searchform, 
.snabove#sitenav #searchform { 
    margin-right: 10px;
}
/********************************************************************
 * Entries content blog id sections gradient background 
 * trying to get near by modern browser behaviour - if not good, add filter: filter; 
 ********************************************************************/
section#blog {
    background: #fcfcfc;
    height: 100%
}
/* display: block misbehaves in IE 7 - find workaround for IE7 only */
.code-html, .code-css, .code-php, .code-smarty, .code-jquery, .code-bash, .code-sql, .code-conf, .code-htaccess {
    *display: inline;
    *border: 0 none;
    *background-color: transparent;
}
/****************************************************************
 ** workaround with IE 6-8 specific browser hacks end 
 ****************************************************************/
